* {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

/* Основные стили для тела документа */
body {
    font-family: 'Roboto', sans-serif;
    color: #f4f4f4; 
    background: url('1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрировать по горизонтали */
    align-items: center;


}

/* Заголовок */
.background h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Merriweather', serif; 
    margin-bottom: 1em; 
    position: relative; /* Для выравнивания относительно псевдоэлемента */
    z-index: 1; /* Заголовок выше фона */
    text-transform: uppercase; /* Прописные буквы */
}

/* Контейнер для информации об учителе */
.container {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
    padding: 2rem; /* Внутренние отступы */
    border-radius: 1rem;
    margin: 0; /* Центрирование контейнера с отступами */
    max-width: 1200px; /* Максимальная ширина контейнера */
    z-index: 1; 
}


/* Информация об учителе */
.teacher-info {
    display:flex;
    flex: 1;
    margin-right: 2rem; 
    justify-content: center;
    flex-direction:column;
}

.teacher-info h2 {
    margin-bottom: 0;
    font-size: 2.5rem; 
    font-family: 'Merriweather', serif; 

}

.teacher-info p {
    line-height: 1.6; /* Межстрочный интервал для улучшения читаемости */
    font-size: 1.5em; /* Увеличенный размер шрифта для основного текста */

}

/* Фото учителя */
.teacher-image {
    border-radius: 100%; 
    overflow: hidden;
    display: flex; /* Использовать flex для центрирования изображения */
    justify-content: center; /* Центрировать по горизонтали */
    align-items: center; /* Центрировать по вертикали */
    max-width: 500px;
    z-index: 8s;
    width: 100%;
    height: 100%;
}

.teacher-image img {
    width: 100%;
    
    height: auto; /* Сохранение пропорций */
    border-radius: 50%; /* Также для изображения, чтобы оно стало круглым */
}

/* Кнопки */
.cta-button {
    display: inline-block;
    background: #7B001C; /* Красный цвет киновари */
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1.5em; /* Увеличенный размер шрифта для кнопок */
    transition: background 0.3s; /* Плавный переход цвета фона */
}

.cta-button:hover {
    background: #6c001a; /* Более темный цвет при наведении */
}

.container1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: rgba(0, 0, 0, 0); /* прозрачный фон */
    padding: 2rem; /* Внутренние отступы */
    border-radius: 1rem;
    margin: 0; /* Центрирование контейнера с отступами */
    max-width: 1200px; /* Максимальная ширина контейнера */
    z-index: 1; 
}

.lesson-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование элементов */
    margin: 0; /* Убираем отступы по бокам для выравнивания */
    justify-content: space-between; /* Распределяет пространство между элементами */
    gap: 1rem;
}

.lessons h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Merriweather', serif; /* Шрифт для заголовка */
    margin-bottom: 0.1em;
    position: relative; /* Для выравнивания относительно псевдоэлемента */
    z-index: 1; /* Заголовок выше фона */
}

.lesson-option {
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    flex: 1 1 calc(33.333% - 2rem); /* Задает ширину 33.333% с отступами */
    margin: 0; 
}

.lesson-option:hover {
    transform: translateY(-5px); /* Подъем блока при наведении */
}

.lesson-option h3 {
    font-size: 1.5em;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.lesson-option p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin:auto;
}

.lesson-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
}

.lesson-option img {
    max-width: 100%; /* Изображение растягивается на всю ширину контейнера */
    height: auto; /* Поддержание пропорций изображения */
}

/* Медиазапросы для адаптивности */
@media (max-width: 768px) {
    .lesson-option {
        flex: 0 0 90%; /* Ширина блока на мобильных устройствах */
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        flex: 0 0 90%;

    }
}

@media (max-width: 425px) {
    .lesson-option {
        flex: 0 0 90%; /* Ширина блока на мобильных устройствах */
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        flex: 0 0 90%;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .lesson-option {
        flex: 0 0 90%; /* Ширина блока на мобильных устройствах */
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        flex: 0 0 90%;

    }
}


@media (max-width: 320px) {
    .lesson-option {
        flex: 0 0 90%; /* Ширина блока на мобильных устройствах */
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        flex: 0 0 90%;

    }
}