* {
    margin: 3rem 3 rem;
    box-sizing: border-box;
}

/* Основные стили для тела документа */
body {
    font-family: 'Roboto', sans-serif;
    color: #f4f4f4; 
    background: url('1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрировать по горизонтали */
    align-items: center;


}

h2{
    text-align: center;
    font-size: 2em;
    font-family: 'Merriweather', serif; /* Шрифт для заголовка */
    margin-bottom: 0.1em;
    position: relative; /* Для выравнивания относительно псевдоэлемента */
    z-index: 1; /* Заголовок выше фона */
}

/* Заголовок */
.background h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Merriweather', serif; 
    margin-bottom: 1em; 
    position: relative; /* Для выравнивания относительно псевдоэлемента */
    z-index: 1; /* Заголовок выше фона */
    text-transform: uppercase; /* Прописные буквы */
}

/* Контейнер для информации об учителе */
.container {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
    padding: 2rem; /* Внутренние отступы */
    border-radius: 1rem;
    margin: 0; /* Центрирование контейнера с отступами */
    max-width: 1200px; /* Максимальная ширина контейнера */
    z-index: 1; 
}


/* Информация об учителе */
.teacher-info {
    display:flex;
    flex: 1;
    margin-right: 2rem; 
    justify-content: center;
    flex-direction:column;
}

.teacher-info h2 {
    margin-bottom: 0;
    font-size: 2.5rem; 
    font-family: 'Merriweather', serif; 

}

.teacher-info p {
    line-height: 1.6; /* Межстрочный интервал для улучшения читаемости */
    font-size: 1.5em; /* Увеличенный размер шрифта для основного текста */

}

/* Фото учителя */
.teacher-image {
    border-radius: 100%; 
    overflow: hidden;
    display: flex; /* Использовать flex для центрирования изображения */
    justify-content: center; /* Центрировать по горизонтали */
    align-items: center; /* Центрировать по вертикали */
    max-width: 500px;
    z-index: 8s;
    width: 100%;
    height: 100%;
}

.teacher-image img {
    width: 100%;
    height: auto; /* Сохранение пропорций */
    border-radius: 50%; /* Также для изображения, чтобы оно стало круглым */
}

/* Кнопки */
.cta-button {
    display: inline-block;
    background: #7B001C; /* Красный цвет киновари */
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1.5em; /* Увеличенный размер шрифта для кнопок */
    transition: background 0.3s; /* Плавный переход цвета фона */
    margin-bottom: 1rem;
}

.cta-button:hover {
    background: #6c001a; /* Более темный цвет при наведении */
}

.container1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: rgba(0, 0, 0, 0); /* прозрачный фон */
    padding: 2rem; /* Внутренние отступы */
    border-radius: 1rem;
    margin: 0; /* Центрирование контейнера с отступами */
    max-width: 1200px; /* Максимальная ширина контейнера */
    z-index: 1; 
}

.lesson-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование элементов */
    margin: 0; /* Убираем отступы по бокам для выравнивания */
    padding: 0;
    justify-content: space-between; /* Распределяет пространство между элементами */
    gap: 3rem;
}

.lessons h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Merriweather', serif; /* Шрифт для заголовка */
    margin-bottom: 0.1em;
    position: relative; /* Для выравнивания относительно псевдоэлемента */
    z-index: 1; /* Заголовок выше фона */
}

.lesson-option {
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    flex: 27%; /* Задает ширину 33.333% с отступами */
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравниваем элементы по центру по горизонтали */
    justify-content: center; 
}

.lesson-option:hover {
    transform: translateY(-5px); /* Подъем блока при наведении */
}

.lesson-option h3 {
    font-size: 1.5em;
    margin: 0;
    font-family: 'Merriweather', serif;
    margin-bottom: 1rem; 
    text-align: center;
}

.lesson-option p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin:auto;
    margin-bottom: 1rem; 
    text-align: center;
}

.lesson-image {
    width: 100%; /* Изображение занимает всю доступную ширину */
    height: auto;
    margin-bottom: 1rem; 
}

.lesson-option img {
    max-width: 100%; 
    height: auto; /* Поддержание пропорций изображения */
}

.tech-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    grid-gap: 3rem; 
    width: 100%; /*100% ширины родителя */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 0;
    position: relative;
}

.technologies-section {
    width: 100%; /* Растянуть фон по всей ширине */
    background: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
    padding: 2rem 0; /* Отступы сверху и снизу */
}

.technologies {
    width: 90%; /* Ширина контента внутри секции */
    margin: 0 auto; /* Центрирование контента */
    background: transparent; /* Сделать фон самого блока прозрачным */
    padding: 2rem;
}


.tech-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1rem;
    text-align: center;
    background-color: #c0bbbc;
    color: black; /* Цвет текста */
    padding: 1rem; /* Отступы внутри карточек */
    transition: transform 0.3s; /* Плавный эффект при наведении */
    position: relative;
}

.tech-card:hover {
    transform: translateY(-5px); /* Подъем карточки при наведении */
}


.tech-cards p{
    size: 15%;
}

.tech-cards img{
    size: 80%;
}

.tech-cards h3 {
    font-size: 1em;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: black;
}

.technologies h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Merriweather', serif; /* Шрифт для заголовка */
    margin-bottom: 0.1em;
    color: #c0bbbc;
}

/* Медиазапросы для адаптивности */
@media (max-width: 800px) {
    .tech-cards {
        grid-template-columns: repeat(2, 1fr); /* Две карточки в строке для экранов шириной до 800px */
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        flex: 0 0 90%;
        }
}

@media (max-width: 650px) {
    .tech-cards {
        grid-template-columns: 1fr; /* Одна карточка в строке для экранов шириной до 650px */
    }
    .tech-card {
        display: flex;
        flex-direction: column;}
}





