* {
    margin: 3rem 3 rem;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #f4f4f4; 
    background: url('1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 74px;
    background: rgb(0, 0, 0);
    color: #FAF6F2;
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 100; 
    padding: 1rem; 
}



.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #FAF6F2;
    width: 67px;
    height: 67px;
}


.nav{
    display: flex;
    width: 700px;
    padding: 0 40px;
}

.nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav ul li a {
    font-family: 'Roboto', sans-serif;
    color: #f4f4f4; 
  }

.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.nav.active {
    display: flex; /* Меню будет отображаться */
}



h2{
    text-align: center;
    font-size: 2em;
    font-family: 'Merriweather', serif; /* Шрифт для заголовка */
    margin-bottom: 0.1em;
    position: relative; /* Для выравнивания относительно псевдоэлемента */
    z-index: 1; /* Заголовок выше фона */
}



/* Заголовок */
.background h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Merriweather', serif; 
    margin-bottom: 1em; 
    position: relative; /* Для выравнивания относительно псевдоэлемента */
    z-index: 1; /* Заголовок выше фона */
    text-transform: uppercase; /* Прописные буквы */
    padding-top: 70px; /* Добавьте отступ сверху */
}


/* Контейнер для информации об учителе */
.container {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
    padding: 2rem; /* Внутренние отступы */
    border-radius: 1rem;
    margin: 0; /* Центрирование контейнера с отступами */
    max-width: 1200px; /* Максимальная ширина контейнера */
    z-index: 1; 
}


/* Информация об учителе */
.teacher-info {
    display:flex;
    flex: 1;
    margin-right: 2rem; 
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.teacher-info h2 {
    margin-bottom: 0;
    font-size: 2.5rem; 
    font-family: 'Merriweather', serif; 

}

.teacher-info p {
    line-height: 1.6; /* Межстрочный интервал для улучшения читаемости */
    font-size: 1.5em; /* Увеличенный размер шрифта для основного текста */

}

/* Фото учителя */
.teacher-image {
    border-radius: 100%; 
    overflow: hidden;
    display: flex; /* Использовать flex для центрирования изображения */
    justify-content: center; /* Центрировать по горизонтали */
    align-items: center; /* Центрировать по вертикали */
    max-width: 500px;
    z-index: 8s;
    width: 100%;
    height: 100%;
}

.teacher-image img {
    width: 100%;
    height: auto; /* Сохранение пропорций */
    border-radius: 50%; /* Также для изображения, чтобы оно стало круглым */
}

/* Кнопки */
.cta-button {
    display: inline-block;
    background: #7B001C; /* Красный цвет киновари */
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1.5em; /* Увеличенный размер шрифта для кнопок */
    transition: background 0.3s; /* Плавный переход цвета фона */
    margin-bottom: 1rem;
}

.cta-button:hover {
    background: #6c001a; /* Более темный цвет при наведении */
}

.container1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: rgba(0, 0, 0, 0); /* прозрачный фон */
    padding: 2rem; /* Внутренние отступы */
    border-radius: 1rem;
    margin: 0; /* Центрирование контейнера с отступами */
    max-width: 1200px; /* Максимальная ширина контейнера */
    z-index: 1; 
}

.lesson-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование элементов */
    margin: 0; /* Убираем отступы по бокам для выравнивания */
    padding: 0;
    justify-content: space-between; /* Распределяет пространство между элементами */
    gap: 3rem;
}

.lessons h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Merriweather', serif; /* Шрифт для заголовка */
    margin-bottom: 0.1em;
    position: relative; /* Для выравнивания относительно псевдоэлемента */
    z-index: 1; /* Заголовок выше фона */
}

.lesson-option {
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    flex: 27%; /* Задает ширину 33.333% с отступами */
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравниваем элементы по центру по горизонтали */
    justify-content: center; 
}

.lesson-option:hover {
    transform: translateY(-5px); /* Подъем блока при наведении */
}

.lesson-option h3 {
    font-size: 1.5em;
    margin: 0;
    font-family: 'Merriweather', serif;
    margin-bottom: 1rem; 
    text-align: center;
}

.lesson-option p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin:auto;
    margin-bottom: 1rem; 
    text-align: center;
}

.lesson-image {
    width: 100%; /* Изображение занимает всю доступную ширину */
    height: auto;
    margin-bottom: 1rem; 
}

.lesson-option img {
    max-width: 100%; 
    height: auto; /* Поддержание пропорций изображения */
}

.tech-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    grid-gap: 3rem; 
    width: 90%; /*100% ширины родителя */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 0;
    position: relative;
}

.technologies-section {
    width: 100%; /* Растянуть фон по всей ширине */
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
    padding: 2rem 0; /* Отступы сверху и снизу */
}

.technologies {
    width: 90%; /* Ширина контента внутри секции */
    margin: 0 auto; /* Центрирование контента */
    background: transparent; /* Сделать фон самого блока прозрачным */
    padding: 2rem;
}


.tech-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-radius: 1rem;
    text-align: center;
    background-color: #c0bbbc;
    color: black; /* Цвет текста */
    padding: 1rem; /* Отступы внутри карточек */
    transition: transform 0.3s; /* Плавный эффект при наведении */
    position: relative;
    
}

.tech-card:hover {
    transform: translateY(-5px); /* Подъем карточки при наведении */
}


.tech-cards p{
    size: 15%;
}

.tech-cards img{
    size: 90%;
}

.tech-cards h3 {
    font-size: 1em;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: black;
}

.technologies h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Merriweather', serif; /* Шрифт для заголовка */
    margin-bottom: 0.1em;
    color: #c0bbbc;
}




#reviews {
    background-color: #c0bbbc00; /* прозрачный фон */
    padding: 40px 20px;
    border-radius: 10px;
    max-width: 78%;
    margin: 0 auto;
}



#reviews h2 {
    font-size: 2.2rem;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}

#reviews h3 {
    text-align: center;
    font-size: 1.3rem;
    color: white; 
}

#reviews h3 a {
    text-decoration: none; /* Убирает подчеркивание у ссылки */
    color: inherit; /* Наследует цвет от заголовка */
}

.reviews-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.review {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s; /* Плавный эффект при наведении */
    position: relative;
}

.review:hover {
    transform: translateY(-5px); /* Подъем карточки при наведении */
}

.review p {
    font-size: 2.4rem;
    color: white;
    margin-bottom: 10px;
}

.review strong {
    font-weight: bold;
    font-size: 1.3rem;
    color: #6c001a; 
}

#reviews p {
    text-align: center;
    font-size: 1.1rem;
    color: #e6e2e2;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .reviews-list {
        grid-template-columns: 1fr 1fr; /* для больших экранов два столбца */
    }
}

@media (min-width: 1024px) {
    .reviews-list {
        grid-template-columns: 1fr 1fr 1fr; /* для очень больших экранов три столбца */
    }
}





.feedback-section {
    width: 75%;
    margin: 2rem auto; /* Центрируем секцию */
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон */
    border-radius: 1rem;
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальную ориентацию */
    align-items: center; /* Центрируем содержимое по горизонтали */
}

.feedback-section h2 {
    margin-bottom: 1rem; /* Добавляем отступ под заголовком */
    text-align: center; /* Центрируем текст */
    font-size: 2rem; /* Размер шрифта заголовка */
    color: #FAF6F2;
}

.feedback-form {
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное расположение элементов формы */
    width: 100%; /* Растягиваем форму на всю ширину блока */
    max-width: 600px; /* Ограничиваем максимальную ширину формы */
}

.feedback-form input,
.feedback-form textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%; /* Поля ввода занимают всю ширину формы */
    margin-bottom: 1rem; /* Отступы между полями */
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.feedback-form button {
    background: #7B001C; /* Цвет кнопки */
    color: #fff; /* Цвет текста кнопки */
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.feedback-form button:hover {
    background: #6c001a; /* Цвет кнопки при наведении */
}

@media (max-width: 800px) {
    .feedback-section {
        width: 90%; /* На меньших экранах блок занимает 90% ширины */
    }
}



/* Медиазапросы для адаптивности */
@media (max-width: 800px) {
    .tech-cards {
        grid-template-columns: repeat(2, 1fr); /* Две карточки в строке для экранов шириной до 800px */
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        flex: 0 0 90%;
        }
    
    .burger { display: flex }

    .nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: rgba(0, 0, 0, 0.923);
        animation: burgerAnimation 0.4s;
    }

    .nav ul{
        flex-direction: column;
        row-gap: 30px;
    }
}

@media (max-width: 650px) {
    .tech-cards {
        grid-template-columns: 1fr; /* Одна карточка в строке для экранов шириной до 650px */
    }
    .tech-card {
        display: flex;
        flex-direction: column;}
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}